<?xml version="1.0"?>

<launch>
    <arg name="static_map" default="True"/>
    <arg name="output" default="screen"/>
    <include file="$(find robot_description)/launch/robot.launch" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_visualization)/maps/p206.yaml" output="$(arg output)" if="$(arg static_map)">
        <param name="frame_id" value="map"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_visualization)/rviz/map_visual_new.rviz" output="screen"/>
</launch>
