<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="map" to="mapgrid_i"/>

        <!-- Pilih plugin untuk global planner dan local planner -->
        <rosparam file="$(find navigasi)/config/move_base_params.yaml" command="load" />

        <!-- Configure common parameter untuk global dan local costmap -->
        <rosparam file="$(find navigasi)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navigasi)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <!-- Configure specific parameter untuk global dan local costmap -->
        <rosparam file="$(find navigasi)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigasi)/config/global_costmap_params.yaml" command="load" />

        <!-- load semua PLANNER parameter untuk local, tapi hanya dipilih satu sesuai dengan move_base_params.yaml -->
        <rosparam file="$(find navigasi)/config/TrajectoryPlannerROS_params.yaml" command="load" />
        <rosparam file="$(find navigasi)/config/DWAPlannerROS_params.yaml" command="load" />
        <rosparam file="$(find navigasi)/config/TebLocalPlannerROS_params.yaml" command="load" />
        <!-- load semua PLANNER parameter untuk global, tapi hanya dipilih satu sesuai dengan move_base_params.yaml -->
        <rosparam file="$(find navigasi)/config/GlobalPlanner_params.yaml" command="load" />
        <rosparam file="$(find navigasi)/config/NavfnROS_params.yaml" command="load" />

    </node>

    <node pkg="navigasi" name="movebase_nav_differential" type="movebase_nav_differential" output="screen"/>
</launch>