<launch>
    <!-- Kinect 1 --> 
    <node pkg="tf" type="static_transform_publisher" name="kinect1_tf"
      args="0.143 0 0.56 0.06 0.2173 0.01 camera_link kinect1_link 100"/>
    <group ns="kinect1">
        <include file="$(find freenect_launch)/launch/freenect.launch">
            <arg name="camera" value="kinect1" />
            <arg name="device_id" value="B00364714507122B" />
        </include>
    </group>

    <!-- Kinect 2 -->
    <node pkg="tf" type="static_transform_publisher" name="kinect2_tf"
      args="-0.143 0 0.57 3.185 0.2175 -0.003 camera_link kinect2_link 100"/>
    <group ns="kinect2">
        <include file="$(find freenect_launch)/launch/freenect.launch">
            <arg name="camera" value="kinect2" />
            <arg name="device_id" value="A00364A02354122A" />
        </include>
    </group>

    <!-- Astra -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="astra_tf"
      args="0.05 0.2 0.36 4.7124 0 0 camera_link astra_link 100"/> -->
    <!-- <group ns="kinect2"> -->
        <!-- <include file="$(find astra_camera)/launch/astra_pro_plus.launch">

        </include> -->
    <!-- </group> -->

    <include file="$(find pointcloud_concatenate)/launch/concat.launch"/>
    
</launch>