<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.04 0 0.645 0 0.103 0 base_link camera_link 100" />

    <node type="point_cloud_assembler" pkg="laser_assembler" name="my_assembler">
        <remap from="cloud" to="cam_pcd"/>
        <param name="max_clouds" type="int" value="400" />
        <param name="fixed_frame" type="string" value="map" />
        <param name="tf_cache_time_secs" type="double" value="20.0" />
    </node>

    <node pkg="mapping" name="simple_mapping" type="simple_mapping" output="screen">
        <param name="min_cam_d" type="double" value="0.3" />
        <param name="max_cam_d" type="double" value="6.0" />
        <param name="maxf_points_out" type="double" value="15.0" />
        <param name="maxf_map_out" type="double" value="2.0" />
    </node>
</launch>

