<launch>
    <include file="$(find udp_bot)/launch/udp_bot.launch"/>
    <include file="$(find mcl_3dl)/launch/test.launch"/>
    
    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="floor_to_odom" args="0 0 0 0 0 0 floor odom 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_base" args="0 0 0 0 0 0 odom base_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0 0 0 0 0 0 base_link camera_link 100" />

    <node pkg="lokalisasi" name="rgbd_cam_loc" type="rgbd_cam_loc" output="screen">
        <param name="init_robotx" type="double" value="0.6" />
        <param name="init_roboty" type="double" value="2.7" />
        <param name="init_robotw" type="double" value="0.0" />
        <param name="min_cam_d" type="double" value="-6.0" />
        <param name="max_cam_d" type="double" value="6.0" />
        <param name="maxf_points_out" type="double" value="15.0" />
    </node>
</launch>